{% extends "../base_generic.html" %}

{% block title-main %}Explore Services{% endblock %}

{% block page-content %}

    {% load static %}
    <script src="{% static 'js/service.js' %}"></script>

    <div class="columns">
        <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{% url 'service:index' %}">
                            <span>Services</span>
                        </a>
                    </li>
                    
                    <li class="is-active" style="">
                        <a href="{% url 'service:explore' %}">
                            <span>Explore Service Posts</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <form class="column" method="GET" action="{% url 'service:search' %}" class="box">
            <div class="field has-addons">
                <div class="control has-icons-left is-expanded">
                    <input type="search" name="service_search_text" class="input" placeholder="Type name, keywords, locations, tags, etc. to find matching service posts." />
                    <span class="icon is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                
                <div class="control">
                    <input type="submit" class="input button is-info" value="Search" />
                </div>
            </div>
        </form>
    </div>

    <div id="" class=" m-b-lg">
        
        <p class="subtitle is-6">
            Filters in this level
        </p>

        <div class="columns p-md is-centered is-multiline">

            {% for post in service_posts %}
            <div class="column is-narrow m-r-md m-t-md">
            <div class="card p-md" style="max-width: 360px; height: 324px; position: relative;">
                <div class="is-size-5" style="height: 66px; overflow: hidden;text-overflow: ellipsis;" title="{{ post.title }}">
                    {{ post.title }}
                </div>
                
                <div class="columns p-t-xs" style="max-height: 40px;">
                    <div class="has-text-white tag has-text-centered has-text-weight-semibold" style="position: absolute; top: 12px; right: -15px; transform: rotate(45deg); background-color: {% if post.is_request_post %}#2366d1{% else %}#00b89c{% endif %}; width: 80px; letter-spacing:1px;" title="Whether the service is being requested or offered!">
                        {% if post.is_request_post %}
                            REQUEST
                        {% else %}
                            OFFERING
                        {% endif %}
                        
                    </div>

                    <span class="column is-half" style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="Posted on {{ post.created_datetime }}">
                        <span class="icon is-size-6">
                            <i class="fas fa-calendar-check"></i>
                        </span> {{ post.created_datetime }}
                    </span>

                    <span class="column is-half" style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="Posted by {{ post.owner.first_name }} {{ post.owner.last_name }}">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <a class="is-link" href="javascript:void(0)" onclick="showUserData({{ post.owner.id }})">{{ post.owner.first_name }} {{ post.owner.last_name }}</a>
                        
                    </span>
                </div>
                

                <div class="p-l-md p-t-sm p-r-md m-b-sm" style="height: 160px; border: 1px solid #ccc; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
                    <div style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="{{ post.service.name }}">
                        <span class="has-text-weight-semibold">Service</span>:
                        <a href="{{ post.get_absolute_url }}" class="has-text-weight-bold has-text-gray">{{ post.service.name }}</a>
                    </div>
                    <div style="height: 40px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="{{ post.service.info }}">
                        {{ post.service.info }}
                    </div>

                    <div title="Service since {{ post.service.start_datetime }}">
                        <span class="has-text-weight-semibold"> From</span>: {{ post.service.start_datetime }}
                    </div>
                    
                    <div title="Service till {{ post.service.end_datetime }}">
                        <span class="has-text-weight-semibold"> To</span>: {{ post.service.end_datetime }}
                    </div>

                    <div class="tags m-t-xs" style="height: 30px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="TAGS: {%for tag in post.service.tags.all %}{{tag}}, {% endfor %}">
                        {% for tag in post.service.tags.all %}
                        <span class="tag is-dark">
                            {{ tag }}
                        </span>
                        {% endfor %}
                    </div>

                </div>

                <div class=" has-text-centered">
                    <a href="{{ post.get_absolute_url }}">View Details & Respond</a>
                </div>

            </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
{% endblock %}